<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>
<style>
  th {
    border: 1px solid black;
  }
</style>

<body>
  <h1>ALL PLAYERS</h1>
  <hr>

  <h2>Add a new player!</h2>
  <button onclick="myFunction()" type="submit">Add a new player!</button>


  <div id="addPlayerButton" style="display:none;">
    <h4>Enter player's information below:</h4>
    <form action="/addPlayer" method="post">
      <input type="string" name="first_name" placeholder="First Name">
      <input type="string" name="last_name" placeholder="Last Name">
      <input type="integer" name="jersey" placeholder="Jersey #">
      <select name="position">
        <option value="PG">PG</option>
        <option value="SG">SG</option>
        <option value="SF">SF</option>
        <option value="PF">PF</option>
        <option value="C">C</option>
      </select>

      <select name="team_id">
        <% for (let k = 0;k < teams.length;k++){ %>
            <option value="<%=teams[k].id%>"><%=teams[k].id%> - <%=teams[k].team_name%></option>
      <% } %>
    </select>
      <input type="decimal" name="points" placeholder="Points">
      <input type="decimal" name="steals" placeholder="Steals">
      <input type="decimal" name="assists" placeholder="Assists">
      <input type="decimal" name="blocks" placeholder="Blocks">
      <input type="submit">
    </form>
  </div>
  <hr>

  <% for(let i =0;i<players.length;i++) { %>
    <% for (let j = 0;j<teams.length;j++) { %>
      <%   if (teams[j].id === players[i].team_id) { %>
        <table>
          <tr>
            <th>Name</th>
            <th>Team</th>
            <th>Jersey #</th>
            <th>Position</th>
            <th>Points/game</th>
            <th>Steals/game</th>
            <th>Assists/game</th>
            <th>Blocks/game</th>
          </tr>
          <tr>
            <td>
              <a href="/players/info/<%=players[i].id %>">
                <%= `${players[i].first_name} ${players[i].last_name}` %>
            </td>
            <td>
              <a href="/teams/info/<%=teams[j].id %>">
                <%= teams[j].team_name%>
            </td>
            <td>
              <%= players[i].jersey%>
            </td>
            <td>
              <%= players[i].position%>
            </td>
            <td>
              <%= players[i].points%>
            </td>
            <td>
              <%= players[i].assists%>
            </td>
            <td>
              <%= players[i].steals%>
            </td>
            <td>
              <%= players[i].blocks%>
            </td>
          </tr>
        </table>
        <% } %>
          <% } %>
            <% } %>


            <script>
              function myFunction() {
                var x = document.getElementById("addPlayerButton");
                if (x.style.display === "block") {
                  x.style.display = "none";
                } else {
                  x.style.display = "block";
                }

              }
            </script>
</body>

</html>
